[class*="c-link"] {
  color: currentColor;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  @include mq($from: tablet) {
    &:active, &:focus {
      padding: 2px;
      outline: none; /* mine */
      box-shadow: 0 0 2px 2px currentColor;
      border-radius: $global-radius;
    }
  }
}

.c-link {
  &--no-deco {
    text-decoration: none;
  }
  &--icon {
    padding-left: 2em; /* use when icon is position absolute and pointer is need on icon as well */
  }
}
