
.c-header,[class*="c-header--"] {
  font-size: 1.3rem;
  padding: 0.4em 1em;
  //color: $textColor;
  color: currentColor;
  background: $lightBackground;
  display:flex;
  align-items: center;
}

.c-header {
  //border-radius: $global-radius $global-radius 0 0;
  &--main {
    height: 5rem;
    font-size: 1.5rem;
  }
  &__text {
    font-size: 1em; /* override h2 element style */
    display: inline-block;
    margin: 0 auto 0 0.5em; /* override default h2 element margin bottom (auto right margin is to space the flex-items) */
  }
  &--colored { /* generally used in tabs */
    color: $white;
    background: $textColor;
  }
  &--inverted { /* generally used in popups */
    color: $textColor;
    background: $white;
  }
  // &--small {
  //   font-size: .7em;
  // }
  // &--large {
  //   font-size: 1.5em;
  // }
}
