.c-header {
  //border-radius: $global-radius $global-radius 0 0;
  font-size: 1rem;
  padding: 0.5em;
  color: $textColor;
  background: $lightBackground;

  &--colored { /* generally used in tabs */
    color: $white;
    background: $textColor;
  }
  &--inverted { /* generally used in popups */
    color: $textColor;
    background: $white;
  }
  &--small {
    font-size: .7em;
  }
  &--large {
    font-size: 2em;
  }
  &__text{
    font-size: 1.5em;
    display: inline-block;
    margin-bottom: 0; /* override default element margin bottom (may need to refactor this) */
    // font-size: inherit; /* override default element margin bottom (may need to refactor this) */
    // line-height: inherit;  /* override default element margin bottom (may need to refactor this) */
  }
}
