
.c-aside-banner {
  color: $white;
  font-size: 1rem;
  position: relative;
  background: $primary;
  border-radius: 0.6rem;
  width: 17.5em;
  position: relative;
  overflow: hidden;
  contain: content;
  &__item {
    display: flex;
    flex-direction: column;
    height: 18.5em;
  }
  &__header {
    font-size: 1.2em;
    padding: 0 0.8em;
    line-height: 2.5em;
    height: 2.5em;
    font-weight: normal;
    margin: 0;
  }
  &__footer {
    padding: 0 0.8em;
    height: 2.5em;
    line-height: 2.5em;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &__inner-item {
    display: flex;
    flex:1;
    position: relative;
    padding-right: 2rem;
    align-items: center;
    color: $textColor; /* so that the icon inherits the correct color */
    &:nth-child(odd) {
      background-color: $textColor-light;
    }
    &:only-child {
      padding: 0;
    }
  }
  &__img {
    width: 6em;
  }
  &__text {
    color: $white;
    margin-left: 0.8em;
    font-size: 0.8em;
    flex:1;
  }
}
