// <h3>chat</h3>
// <div class="o-box">
//   <section class="c-chat">
//     <div class="u-1-4">
//       <svg class="c-icon u-padding-none"><use xlink:href="images/sprite.svg#LIVE_CALLER" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
//       <div class="c-chat__name">Adam Baddas</div>
//     </div>
//     <div class="c-chat__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
//     <button class="c-btn--primary">Reply</button>
//     <button class="u-1-4">
//       <span>Close</span>
//       <svg class="c-icon u-padding-none"><use xlink:href="images/sprite.svg#CLOSE_INVERTED" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
//     </button>
//   </section>
// </div>

.c-chat {
  color: $textColor;
  display: flex;
  &__text {
    flex:1;
  }
}
