.c-icon,[class*="c-icon--"] {
  /* Allows sizing by changing the icon’s font-size */
  width: 1em;
  height: 1em;
  //fill: $white; /* default color */
  fill: currentColor; /* this should replace icon--colored because in such a case the color should have been set on the root of the component */
  //color: $white; /* default color when currentColor is used */
  font-size: 2em; /* default-size */
  text-align: center;
  padding-right: 0.1em; /* to override this - use utility class ?? */
  vertical-align: middle;
  box-sizing: content-box;
  //padding: 0 0.5rem 0.2rem 0;
  //padding: 0 px-to-em(3) px-to-em(2) 0;
  //padding: 0 0 px-to-em(2) 0;
  //margin: auto; /* need to check whether I can remove this - it effects flexbox items */
  overflow: hidden;
  pointer-events: none; /* TODO: decide whether to use .ie .c-icon {} selector for this */
  // @include respond-to(mobile) {
  //   padding: 0 0.3rem 0 0;
  // }

  //TODO: Where is this used?
  // .u-dark & {
  //   color: $textColor;
  //   fill: $white; //necessary because the color here will change the default fill:currentColor to blue
  // }


  //the icon has to be within an immmediate sibling of is-active (aside banner icons break when written like this)
  // .is-active & {
  //   color: $white;
  //   fill: $textColor; //use case: nav icons with active icon of yellow background
  // }
}
.is-active > [class*="c-icon"] {
  color: $white;
  fill: $textColor; //use case: nav icons with active icon of yellow background
}

/* TODO: are small medium and large necessary? - maybe should just change the font size of the component apropriately?? */
.c-icon {
  &--small {
    font-size: 1.3em;
  }
  &--medium {
    font-size: 1.7em;
  }
  &--large {
    font-size: 2.4em;
    //padding-right: 1.3rem;
  }
  /* use utility positioning classes instead */
  // &--positioned {
  //   position: absolute;
  //   top:0;
  //   bottom:0;
  //   padding:0;
  // }
  /* TODO: is 'colored' necessary? Maybe should just use currentCOlor in base */
  /* Update: I think this is necessary - look at 1) mobile tabs 2) Close icon within button 3) footer icon within yellow background */
  &--colored {
    fill: $textColor;
    color: $white;
    // .is-active & { //TODO: what use case does this cover?
    //   fill: $white;
    //   color: $textColor;
    // }
    .c-tab & {
      transition: all 0.3s;
    }
    .c-tab.is-active & {
      fill: $secondaryColor;
      color: $textColor;
    }
  }
    /* TODO: Is this necessary... what's the use case? */
    /* Yes,  Close button within a dark header */
  &--inverted {
    color: $textColor;
    fill: $white;
  }
  &--checkable {
    color: $white;
    fill: $white;
  }
  &--bordered {
    stroke: $textColor;
  }
  &--primary {
    fill: $primaryColor;
    color: $white;
  }
  &--secondary {
    fill: $secondaryColor;
    color: $white;
    // .is-active & {
    //   fill: $textColor;
    // }
  }
}
// .is-active {
//   > .c-icon, > [class*="c-icon--"] {
//     color: $textColor;
//     fill: $white;
//   }
// }
