.c-checkbox [type="checkbox"] {
  display: none;
}
.c-checkbox [type="checkbox"]:checked + .o-icon {
  color: $textColor;
}

.c-checkbox [type="checkbox"] ~ label {
  padding-left: 2.2em; /* needs refactoring? */
  /* the following is optional - I find the 'auto' selection here a bit annoying */
  user-select: none;
}

.c-checkbox--small {
  font-size: 0.8em;
}
.c-checkbox--large {
  font-size: 1.6em;
}
