
@font-face {
    font-family: "Headline";
    src: url("../fonts/headline-regular.woff") format('woff');
}
body {
  color: $textColor;
}
.style-guide {
  font-family: "Headline",sans-serif;

  margin: 0 auto;
  max-width: 100em;
  > .o-box {
    margin: 2em;
    background: $lightBackground;
    @include mq($until: tablet) {
      margin: 0;
      padding: 1em;
    }
    &.u-dark {
      color: $lightBackground;
      background: $textColor;
    }
  }
  > .c-header,[class*="c-header--"] {
    margin: 2rem;
    @include mq($until: tablet) {
      margin: 0 0 1rem 0;
    }
  }
  .c-loyalty {
    display: inline-block;
    margin: 0 2%;
  }
}
hr {
  margin-top: 2rem;
}
.c-loyalty {
  background-color: #dadada;
  overflow: hidden;
  padding-bottom: 1em;
  border-radius: 0.5em;

  &__header {
    font-size: 1em;
    padding: 0 1em;
    line-height: normal;
    margin: 0.8em 0;
    text-transform: none;
  }
  &__content {
    background-color: $white;
    font-size: 5em;
    text-align: center;
  }
  &__text {
    font-size: 1rem;
    text-align: left;
    position: relative;
    top: 0.8rem;
    left: 0.8rem;
  }
}
// $primary #4a5ab1;
// $textColor-light: #23337e;
// $textColor: #112268; /* dark blue */
//
// $secondaryColor: #fdd941; /* yellow */
// $primaryColor: #ec028d; /* pink temp!!! */
// $actionColor-light: #fa25a4; /* pink */
// $actionColor: #ec028d; /* pink */
//
// $lightBackground: #dadce9; /* gray */
// $white: #fff;
// $darkGray: #dadce9;
// $black: #050a1e;
.paletteWpr.paletteWpr {
  background: $white;
}
.palette {
  color: $white;
  div {
    min-height: 40px;
    //padding: 1em;
  }
  .o-grid__item > div {
    padding: 1em;
  }
}
.primaryColor {
  background: $primary;
  height: 160px;
}
.textColor-light {
  background: $textColor-light;
}
.textColor {
  background: $textColor;
}
.secondaryColor {
  background: $secondaryColor;
  height: 160px;
}
.actionColor-light {
  background: $actionColor-light;
}
.actionColor {
  background: $actionColor;
}
.grayColor.grayColor.grayColor {
  background: $lightBackground;
  height: 160px;
  display:flex;
  flex-direction: column;
  padding: 0;
  color: $black;
}
.grayColor > div:first-child {
  margin: auto;
}
.white {
  background: $white;
}
.grayColor-dark {
  background: $darkGray;
}
.blackColor {
  background: $black;
}


h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  margin-top: 2rem;
}
.c-counter {
  color: white;
  position: relative;
  contain: content;
  overflow: hidden;
  width: 10em;

  &__item {
    background: $primary;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
  }
}
/* media queries examples */
// .media {
//   background: salmon;
//   // @include mq($from: mobile, $until: tablet) {
//   //     background: blue;
//   // }
//   @include mq($from: tablet, $until: desktop) {
//       background: red;
//   }
//   @include mq($from: desktop, $until: wide) {
//       background: yellow;
//   }
//   @include mq($from: wide) {
//       background: green;
//   }
// }
