@charset "UTF-8";
body:before {
  background-color: #FCF8E3;
  border-bottom: 1px solid #FBEED5;
  border-left: 1px solid #FBEED5;
  color: #C09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100; }
  @media (min-width: 47.9375em) {
    body:before {
      content: "tablet ≥ 767px (47.9375em)"; } }
  @media (min-width: 75em) {
    body:before {
      content: "desktop ≥ 1200px (75em)"; } }
  @media (min-width: 85.625em) {
    body:before {
      content: "wide ≥ 1370px (85.625em)"; } }

/* dark blue */
/* pink */
/* yellow */
/* gray */
@font-face {
  font-family: "Headline";
  src: url("../fonts/headline-regular.woff") format("woff"); }

.u-relative {
  position: relative; }

.u-inline-block {
  display: inline-block; }

.style-guide {
  font-family: "Headline",sans-serif;
  color: #112268;
  margin: 0 auto;
  max-width: 100em; }
  .style-guide > .o-box {
    margin: 2em;
    background: #dadce9; }

/* media queries examples */
