.o-grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }
  .o-grid--top {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start; }
  .o-grid--bottom {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end; }
  .o-grid--center {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  .o-grid--justifyCenter {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .o-grid--flexCells > .o-grid__cell {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.o-grid__cell {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .o-grid__cell--top {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .o-grid__cell--bottom {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
  .o-grid__cell--center {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .o-grid__cell--autoSize {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; }

.o-grid--fit > .o-grid__cell {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.o-grid--full > .o-grid__cell {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.o-grid--1of2 > .o-grid__cell {
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%; }

.o-grid--1of3 > .o-grid__cell {
  -webkit-flex: 0 0 33.3333%;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%; }

.o-grid--1of4 > .o-grid__cell {
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%; }

@media (--break-sm) {
  .small-grid--fit > .o-grid-cell {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .small-grid--full > .grid-cell {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .small-grid--1of2 > .grid-cell {
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .small-grid--1of3 > .grid-cell {
    -webkit-flex: 0 0 33.3333%;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%; }
  .small-grid--1of4 > .grid-cell {
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; } }

@media (--break-md) {
  .med-grid--fit > .grid-cell {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .med-grid--full > .grid-cell {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .med-grid--1of2 > .grid-cell {
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .med-grid--1of3 > .grid-cell {
    -webkit-flex: 0 0 33.3333%;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%; }
  .med-grid--1of4 > .grid-cell {
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; } }

@media (--break-lg) {
  .large-grid--fit > .grid-cell {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .large-grid--full > .grid-cell {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .large-grid--1of2 > .grid-cell {
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .large-grid--1of3 > .grid-cell {
    -webkit-flex: 0 0 33.3333%;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%; }
  .large-grid--1of4 > .grid-cell {
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; } }

.o-grid--gutters {
  margin: -1em 0 1em -1em; }
  .o-grid--gutters > .grid-cell {
    padding: 1em 0 0 1em; }

.o-grid--guttersLg {
  margin: -1.5em 0 1.5em -1.5em; }
  .o-grid--guttersLg > .grid-cell {
    padding: 1.5em 0 0 1.5em; }

.o-grid--guttersXl {
  margin: -2em 0 2em -2em; }
  .o-grid--guttersXl > .grid-cell {
    padding: 2em 0 0 2em; }

@media (--break-sm) {
  .small-grid--gutters {
    margin: -1em 0 1em -1em; }
    .small-grid--gutters > .grid-cell {
      padding: 1em 0 0 1em; }
  .small-grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em; }
    .small-grid--guttersLg > .grid-cell {
      padding: 1.5em 0 0 1.5em; }
  .small-grid--guttersXl {
    margin: -2em 0 2em -2em; }
    .small-grid--guttersXl > .grid-cell {
      padding: 2em 0 0 2em; } }

@media (--break-md) {
  .med-grid--gutters {
    margin: -1em 0 1em -1em; }
    .med-grid--gutters > .grid-cell {
      padding: 1em 0 0 1em; }
  .med-grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em; }
    .med-grid--guttersLg > .grid-cell {
      padding: 1.5em 0 0 1.5em; }
  .med-grid--guttersXl {
    margin: -2em 0 2em -2em; }
    .med-grid--guttersXl > .grid-cell {
      padding: 2em 0 0 2em; } }

@media (--break-lg) {
  .large-grid--gutters {
    margin: -1em 0 1em -1em; }
    .large-grid--gutters > .grid-cell {
      padding: 1em 0 0 1em; }
  .large-grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em; }
    .large-grid--guttersLg > .grid-cell {
      padding: 1.5em 0 0 1.5em; }
  .large-grid--guttersXl {
    margin: -2em 0 2em -2em; }
    .large-grid--guttersXl > .grid-cell {
      padding: 2em 0 0 2em; } }
