.pwa {
  display: block;
}

.pwa__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  justify-content: space-between;
  list-style: none;
}

.pwa__item {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid maroon;
  box-shadow: 2px 2px 2px 0 maroon;
}
