*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

:root {
  --box-length: 4em;
}
.App {
  font-family: sans-serif;
}
.box {
  list-style: none;
  padding-left: var(--box-length);
}

.box li:before {
  content: "";
  display: inline-block;
  width: var(--box-length);
  height: var(--box-length);
  background-color: rebeccapurple;
}
