
.c-input { /* By default this component refers to a text input */
  display:flex;
  flex-direction: column;
  &--search {
    padding: 0.5em 1em;
    background: #999;
  }
  &__input {
    border-radius: px-to-em(6);
    background: $white;
    color: currentColor;
    border: 0.15em solid $white;
    padding: 0.5em;
    width: 100%;
    &:focus {
      border: 0.15em solid $textColor;
      outline: none;
    }
  }
  &__label {
    padding-bottom: 0.5em;
  }
  &__msg {
    padding-top: 0.5em;
    align-self: flex-end;
    .has-error & {
      color: $primaryColor;
    }
  }
  &.has-error {
    .c-input__input {
      border-color: $primaryColor
    }
  }
}
