.c-header {
  border-radius: $global-radius $global-radius 0 0;
  background: $lightBackground;
  font-size: 1.5em;

  &--small {
    font-size: 1em;
  }
  &--large {
    font-size: 2em;
  }
}
.c-header__text {
  padding: 1.5em 0;
  display: inline-block;
  margin-bottom: 0; /* override default element margin bottom (may need to refactor this) */
  font-size: inherit; /* override default element margin bottom (may need to refactor this) */
  line-height: inherit;  /* override default element margin bottom (may need to refactor this) */
}
