/* ==========================================================================
   #GRID - Flexbox based grid system
   ========================================================================== */

.o-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  //margin: -$inuit-global-spacing-unit 0 $inuit-global-spacing-unit -$inuit-global-spacing-unit;
  //margin: -$inuit-global-spacing-unit 0 0 -$inuit-global-spacing-unit;
  margin-left: -$inuit-global-spacing-unit;
  padding: 0;
  > .o-grid__item {
    //padding: $inuit-global-spacing-unit 0 $inuit-global-spacing-unit $inuit-global-spacing-unit;
    //padding: $inuit-global-spacing-unit 0 0 $inuit-global-spacing-unit;
    padding-left: $inuit-global-spacing-unit;
    flex: 1;
    flex-basis: 100%;
    max-width: 100%;
    // @include mq($until: tablet) {
    //   flex-basis: 100%; /* mobile first ?!? */
    // }
    &--top {
      align-self: flex-start;
    }

    &--bottom {
      align-self: flex-end;
    }

    &--center {
      align-self: center;
    }

    &--flex-none {
      flex: none;
    }
  }
  // &--top {
  //   align-items: flex-start;
  // }
  &--bottom {
    align-items: flex-end;
  }

  &--center {
    align-items: center;
  }
  &--justify-left {
    justify-content: start;
  }

  &--justify-center {
    justify-content: center;
  }

  &--center {
    align-items: center;
  }

  &--vertical {
    flex-direction: column;
  }
  // &--vertical-justify-center {
  //   align-items: center;
  // }
  //
  // &--vertical-center {
  //   justify-content: center;
  // }
  &--justified {
    justify-content: space-between;
    flex-wrap: nowrap;
    > .o-grid__item {
      flex: none;
    }
  }
  &--no-gutters {
    margin: 0;
    > .o-grid__item {
      padding: 0;
    }
  }
  &--tiny {
    //margin: -$inuit-global-spacing-unit-tiny 0 0 -$inuit-global-spacing-unit-tiny;
    margin-left: -$inuit-global-spacing-unit-tiny;
    > .o-grid__item {
      //padding: $inuit-global-spacing-unit-tiny 0 0 $inuit-global-spacing-unit-tiny;
      padding-left: $inuit-global-spacing-unit-tiny;
    }
  }
  &--small {
    //margin: -$inuit-global-spacing-unit-small 0 0 -$inuit-global-spacing-unit-small;
    margin-left: -$inuit-global-spacing-unit-small;
    > .o-grid__item {
      //padding: $inuit-global-spacing-unit-small 0 0 $inuit-global-spacing-unit-small;
      padding-left: $inuit-global-spacing-unit-small;
    }
  }
  &--large {
    //margin: -$inuit-global-spacing-unit-large 0 0 -$inuit-global-spacing-unit-large;
    margin-left: -$inuit-global-spacing-unit-large;
    > .o-grid__item {
      //padding: $inuit-global-spacing-unit-large 0 0 $inuit-global-spacing-unit-large;
      padding-left: $inuit-global-spacing-unit-large;
    }
  }
  &--huge {
    //margin: -$inuit-global-spacing-unit-huge 0 0 -$inuit-global-spacing-unit-huge;
    margin-left: -$inuit-global-spacing-unit-huge;
    > .o-grid__item {
      //padding: $inuit-global-spacing-unit-huge 0 0 $inuit-global-spacing-unit-huge;
      padding-left: $inuit-global-spacing-unit-huge;
    }
  }
  &--flexCells > .o-grid__item {
    display: flex;
  }
  &--no-flex {
    //flex-wrap: nowrap;
    overflow: auto; /* or hidden when there are arrows?? */
    > .o-grid__item {
      flex: none;
      // + .o-grid__item {
      //   margin-left: 0.5rem; /* need to refactor this */
      // }
    }
  }
}

/*
  mobile = s
  tablet = md
  desktop = lg
  wide = xl
*/
@include mq($until: tablet) {
  .m- {
    // &1\/1\@s > .o-grid__item {
    //   flex-basis: 100%;
    //   max-width: 100%;
    // }
    &1\/2\@s > .o-grid__item {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
}

  @include mq($from: tablet) { //$from: tablet, $until: desktop
    .m- {
      &1\/2\@md > .o-grid__item {
        flex-basis: 50%;
        max-width: 50%;
      }
      &1\/3\@md > .o-grid__item {
        flex-basis: 33.333%;
        max-width: 33.333%;
      }
    }
  }
  @include mq($from: tablet, $and: '(orientation: landscape)') { //$from: tablet, $until: desktop, $and: '(orientation: landscape)'
    .m- {
      &1\/2\@md > .o-grid__item {
        flex-basis: 50%;
        max-width: 50%;
      }
      &1\/3\@md > .o-grid__item {
        flex-basis: 33.333%;
        max-width: 33.333%;
      }
      &1\/4\@md > .o-grid__item{
        flex-basis: 25%;
        max-width: 25%;
      }
    }
  }
  @include mq($from: desktop) { //$from: desktop, $until: wide
    .m- {
      &1\/3\@lg > .o-grid__item {
        flex-basis: 33.333%;
        max-width: 33.333%;
      }
      &1\/4\@lg > .o-grid__item{
        flex-basis: 25%;
        max-width: 25%;
      }
    }
  }
  @include mq($from: wide) {
    .m- {
      &1\/4\@xl > .o-grid__item {
        flex-basis: 25%;
        max-width: 25%;
      }
      &1\/5\@xl > .o-grid__item {
        flex-basis: 20%;
        max-width: 20%;
      }
    }
  }

// @include respond-to(tablet-portrait) {
//   .m- {
//     &1\/2\@s > .o-grid__item {
//       flex-basis: 50%;
//       max-width: 50%;
//     }
//     &1\/3\@s > .o-grid__item {
//       flex-basis: 33.333%;
//       max-width: 33.333%;
//     }
//   }
// }
// @include respond-to(tablet) {
//
// }
// @include respond-to(desktop) {
//   .m- {
//     &1\/3\@lg > .o-grid__item {
//       flex-basis: 33.333%;
//       max-width: 33.333%;
//     }
//     &1\/4\@lg > .o-grid__item{
//       flex-basis: 25%;
//       max-width: 25%;
//     }
//   }
//   .um- {
//     &1\/3\@lg {
//       flex-basis: 33.333%;
//       max-width: 33.333%;
//     }
//   }
// }
// @include respond-to(desktop-14) {
//
// }
